.title-row { margin: unset;border: 1px solid #2a2a2a;  background-color: #1a1a1a;  display: flex; align-items: center; justify-content: space-between; gap: 12px; }
.title-row h2 {  padding: 16px;background-color: #1a1a1a;  margin: 0; color: #fbfbfc; font-weight: 700; }
.cta { background: #1976d2; border-color: #1976d2; color: #ffffff; font-weight: 700; letter-spacing: .3px; }
/* 1px solid #2a2a2a */
.dialog-body {
  padding:16px;
  background-color: #1a1a1a;
 
}
 .chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.legend { color: #e4e8ec; font-size: 12px; margin-top: 8px; }



